[Unit]
Description=Periodic Trigger for Linux Server Health Monitoring
Requires=server-monitor.service

[Timer]
# Run 1 minute after boot, then every 5 minutes thereafter
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
